
.wrap-all {
    width: 70%;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px;
    -webkit-box-shadow: 6px 22px 77px 35px rgba(255,255,255,1);
    -moz-box-shadow: 6px 22px 77px 35px rgba(255,255,255,1);
    box-shadow: 6px 22px 77px 35px rgba(255,255,255,1);
    margin: 0 auto;
}
}

.region-main {
    color: black;
    width:95%;
    padding: 2.5%;
    margin: 0 auto;
}

.my-navbar {
    background-color: #ffffff;
    font-size: 14px;
    width: 100%;
    min-height: 75px;
}

.region-header {
    width: 100%;
}

.region-header-col-1 {
    width: 25%;
    text-align: center;
}

.region-header-col-1 a {
    font-size: 45%;
}

article{
    width: 90%;
    margin: 0 auto;
    padding: 5%;
    background-color:#ffffff;
    border-radius: 24px;
}

body {
    background-color: #000;
    background-image: url("../img/cellyPic.png");
    background-attachment: fixed;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.site-logo {
   max-width: 200px;
}

.site-logo img {
   border-radius: 240px;
}

.region-flash {
  display: none;
}
